* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0;
	color: #404040;

}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
}

h3 {
	font-size: 1.5em;
}

#container {
	background-color: #f9fcfd;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	height: 195px;
	background: linear-gradient(to bottom right, rgba(133,216,220,0.7),  rgba(11,123,133,0.7)), url("../img/silk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 150px;
}


header h1 {
	text-align: center;
	padding-top: 50px;
	margin: 0;
}

header h6 {
	text-align: center;
	font-weight: 100;
	margin: 0;
}

#my-picture {
	display: block;
	margin: 30px auto 0;
	border-radius: 50%;
	z-index: 10;
}

main {
	padding: 0 40px;
}

section {
	border-top: 3px solid #5cb6d2;
	width: 100%;
}

section.about-me {
	border-top: 0px;
}

section h2 {
	margin-top: 0;
	text-align: center;
	color: #5cb6d2;
}

/* .background-header-icon {
	position: absolute;
	opacity: 0.5;                
    -webkit-filter: blur(16px);    
    -moz-filter: blur(16px);
	filter: blur(16px);
	left: 50%;
	margin-left: -90px;
	font-size: 190px;
} */

.contact-icons {
	text-align: center;
	padding: 0;
}
.contact-icons li {
	display: inline-block;
}

.contact-icons li:not(:last-child) {
	margin-right: 20px;
}

.contact-icons a{
	color: #45a7af;
}

.contact-icons a:hover{
	color: #E8920C;
}

.fa-square, .fa-js-square {
	color: #45a7af;
}

.skills-list {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	justify-content: center;
	text-align:center;
	padding: 0;
}

.skills-list span {
	position: relative;
}

.skills-list li:first-child {
	display: block;
}

.skills-list .icon-text {
	display: block;
}

.collapse-icon .fa-cogs, .collapse-icon .fa-code, .collapse-icon .fa-paint-brush {
	color: white;
	position: absolute;
	top: -27px;
}

.collapse-icon .fa-cogs {
	left: 4px;
}

.collapse-icon .fa-code {
	left: 6px;
}

.collapse-icon .fa-paint-brush {
	left: 8px;
}

article {
	background-color: #fff;
	border: 1px solid #C5C5C5;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.work-experience article ul {
	list-style: none;
}

.work-experience article li {
	/* font-size: 0.9em; */
	margin-bottom: 10px;
}

.work-experience article li::before {
	content: "\2022";
	color: #45a7af;
	font-weight: bold;
	font-size: 1.5em;
	display: inline-block; 
	width: 1em;
	margin-left: -1.5em;
}

article h3 {
	margin: 0;
	text-align: center;
}

article .company-logo {
	display: block;
	margin: 0 auto;
}

article .work-date {
	text-align: center;
}